@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@font-face {
    font-family: Gilroy;
    src: url('Gilroy-FREE/Gilroy-ExtraBold.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1c1f25;
    color: rgb(196, 196, 196);
    font-family: 'Inter', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20.1px;
    font-size: 13px;
    line-height: 1.2;
    position: sticky;
    top: 0px;
    color: rgba(196, 196, 196, 0.842);
    background-color: rgba(28, 31, 37, 0.98);
}
nav ul{
    display: flex;
    gap: 65px;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    cursor: pointer;
}
.logo{
    display: flex;
    transform: scale(0.84);
    cursor: pointer;
}
header span{
    cursor: pointer;
}
.hero{
    display: flex;
    overflow: hidden;
}
.hero-1-sub-1{
    border: 2px solid #181818;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    max-width: max-content;
}
.hero-1{
    padding: 54px;
}
.hero-1-sub-1-1{
    padding: 12px;
    border: 1px solid purple;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgb(78, 13, 78), rgb(114, 13, 114));
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
@keyframes hero-text-intro {
    from{opacity: 0;}
    to{opacity: 1;}
}
.hero-1-sub-1-2{
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 9px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.hero-1-sub-2{
    margin-top: 50px;
    animation: hero-text-intro 1s ease-in;
}
.hero-1-sub-2 h1{
    font-family: Gilroy;
    font-weight: 900;
    font-size: 100px;
    line-height: 100px;
    color: white;
}
.hero-1-sub-1-3{
    margin-top: 48px;
    font-size: 1.1em;
    line-height: 30px;
    font-weight: 100;
    animation: hero-text-intro 1s ease-in;
}
.hero-2{
    position: relative;
    right: -13px;
    width: 48%;
    border: 1px solid rgb(63, 63, 63);
    margin-top: 45px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid transparent;
    z-index: -1;
    animation: hero-text-intro 1s ease-in;
}
.hero-2-head-sub-1{
    border-bottom: 1px solid rgb(63, 63, 63);
    padding: 3px;
}
.hero-2-head-sub-2{
    border-bottom: 1px solid rgb(63, 63, 63);
    border-top: 1px solid rgb(63, 63, 63);
    padding: 20px;
    background-color: #1c1f25;
    margin-top: 4.5px;
}
.hero-2-head-sub-1{
    position: relative;
    border: 1px solid rgb(63, 63, 63);
    top: 5px;
    left: 125px;
    border-bottom: 1px solid transparent;
    width: 40%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #1c1f25;
    min-height: fit-content;
}
.hero-2-head-sub-1 div{
    display: flex;
    align-items: center;
    padding: 2.5px;
    gap: 8px;
}
.hero-2-head-sub-1 div span{
    display: inline-block;
    width: 25%;
    background-color: rgb(63, 63, 63);
    height: 10%;
    border: 1px solid rgb(63, 63, 63);
    padding: o.2px;
    border-radius: 5px;
}
.hero-2-body{
    display: flex;
}
.hero-2-body-1{
    border-right: 1px solid rgb(63, 63, 63);
    width: 28%;
    padding: 15px;
    height: 100%;
    padding-left: 35px;
}
.level-1{
    display: inline-block;
    width: 50%;
    background-color: rgb(63, 63, 63);
    border: 1px solid rgb(63, 63, 63);
    padding: 0.4px;
    border-radius: 5px;
}
.level-2{
    display: inline-block;
    width: 40%;
    margin-left: 25px;
    background-color: rgb(126, 43, 43);
    border: 1px solid rgb(71, 68, 68);
    padding: 0.4px;
    border-radius: 5px;
}
.level-3{
    display: inline-block;
    width: 40%;
    margin-left: 50px;
    background-color: rgb(66, 126, 43);
    border: 1px solid rgb(71, 68, 68);
    padding: 0.4px;
    border-radius: 5px;
}
.hero-2-body-2{
    border-right: 1px solid rgb(63, 63, 63);
    width: 53%;
    height: 100%;
}
.hero-2-body-2-sub-1{
    height: 65%;
    margin-top: 30px;
    padding: 15px;
    padding-left: 35px;
}
.hero-2-body-2-sub-2{
    height: 35%;
}
.hero-2-body-2-sub-1 div span{
    display: inline-block;
    width: 40%;
    margin-left: 5px;
    background-color: rgb(126, 43, 43);
    border: 1px solid rgb(71, 68, 68);
    padding: 0.4px;
    border-radius: 5px;
}
.hero-2-body-3{
    width: 15%;
}
.hero-2-body-3-sub-1 .sec-1{
    border: 1px solid rgb(71, 68, 68);
    margin-top: 40px;
    margin-left: 30px;
    width: 105%;
    padding: 10px;
}
.hero-2-body-3-sub-1 .sec-1 span{
    display: inline-block;
    width: 50%;
    background-color: rgb(126, 43, 43);
    border: 1px solid rgb(71, 68, 68);
    border-radius: 5px;
    margin-bottom: 3px;
    margin-left: 6px;
}
.hero-2-body-3-sub-1 .sec-2{
    border: 1px solid rgb(71, 68, 68);
    margin-top: 30px;
    margin-left: 30px;
    width: 105%;
    padding: 10px;
    height: 65%;
    padding-bottom: 50px;
}
.hero-2-body-3-sub-1 .sec-2 span{
    display: inline-block;
    width: 80%;
    background-color: rgb(126, 43, 43);
    border: 1px solid rgb(71, 68, 68);
    border-radius: 5px;
    margin-bottom: 3px;
    margin-left: 6px;
}
.hero-2-body-3-sub-1 .sec-3{
    border: 1px solid rgb(71, 68, 68);
    margin-top: 20px;
    margin-left: 30px;
    width: 105%;
    padding: 10px;
}
.hero-2-body-3-sub-1 .sec-3 span{
    display: inline-block;
    width: 50%;
    background-color: rgb(126, 43, 43);
    border: 1px solid rgb(71, 68, 68);
    border-radius: 5px;
    margin-left: 6px;
}
.hero-2-body-2-sub-2{
    margin-top: 100px;
    border-top: 1px solid rgb(63, 63, 63);
    padding: 20px;
}
.hero-2-body-2-sub-2 span{
    display: inline-block;
    width: 25%;
    background-color: rgb(63, 63, 63);
    height: 10%;
    border: 1px solid rgb(63, 63, 63);
    padding: 0.5px;
    border-radius: 5px;
    margin: 3px;
}
.hero-2-body-3-sub-2{
    width: 135%;
    margin-top: 28px;
    border-top: 1px solid rgb(63, 63, 63);
    padding: 2%;
    padding-left: 15%;
}
.hero-2-body-3-sub-2 span{
    display: inline-block;
    width: 25%;
    background-color: rgb(63, 63, 63);
    border: 1px solid rgb(63, 63, 63);
    padding: 0.5px;
    border-radius: 5px;
    margin: 1%;
}
#hamburger{
    display: none;
}
@media only screen and (max-width: 500px){
    body{
        width: 100%;
    }
    .hero-1-sub-1{
        width: 70%;
        margin-top: -20px;
        margin-left: -30px;
    }
}
@media only screen and (max-width: 1300px){
    .hero-2{
        display: none;
    }
    nav, #sign-in{
        display: none;
    }
    #hamburger{
        display: inline-block;
        transition: all 1s ease-in;
        font-size: 30px;
    }
}